body {
    color: #FCFAFA;
    background-color: #1C7293;
    margin: 10px;
    font-size: .9em;
}

.progressing {
    background-color: #57A773;
}

.leaving {
    background-color: #B3001B
}

.position,
.points {
    text-align: center;
}

.position {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 1em;
}

.points {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 1em
}

.header {
    color: #050505;
}

td {
    padding: .5em;
    height: 2em;
}

.title {
    text-align: center;
    margin: auto;
    padding: 1em 20px 20px 20px;
    font-weight: bold;
}

.thirdPlaceTable {
    background-color: #FCFAFA;
    border-radius: 1em;
    padding: .5em;
    width: 90%;
}


table {
    font-family: 'Montserrat', sans-serif;
    border-spacing: 0 .5em;
    max-width: 1200px;
    margin: auto;
}
